.pillSize{
    width : 200%
}

lightning-radio-group .slds-radio_faux {
    margin-right: 10px;
}

.slds-modal__content{
    overflow: initial;
}
.THIS .pill-container{
    font-size: medium;
    margin: .5px;
}