<template>
    <!-- <lightning-card style="margin-bottom: 10px; display:block;">
        <div class="slds-align_absolute-center" >
        <lightning-formatted-rich-text value={richtext}></lightning-formatted-rich-text>
    </div>
    </lightning-card> -->
   
    <div class="slds-page-header">
        <c-renewalexpirylwc  record-id={recordId} renedate={expdate} > </c-renewalexpirylwc>
    </div>
    <lightning-card title="Inventory Informationss Testing">
       
        <div class="exampleHolder" if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>
        <div class="slds-scrollable_y">
            <lightning-record-edit-form id="Inventory" object-api-name="Inventory__c" layout-type="compact"
                horizontal-align="stretch" title="Edit Inventory details" record-id={recordId} onsuccess={handleSuccess}
                onsubmit={handleSubmit} onerror={handleError}>
                <div class="demo-only class1" style="padding:0.5rem;background:#e4e2e2;">
                    <div class="slds-text-color_inverse">
                        <h1 style="color: black;">Product information</h1>
                    </div>
                </div>
                </br>
                <!-- <lightning-accordion class="example-accordion" onsectiontoggle={handleToggleSection}
                active-section-name={accordianSection} allow-multiple-sections-open >

                <lightning-accordion-section name="product" label="Product information"> -->
                <!-- <lightning-messages>
                    </lightning-messages> -->
                <div class="slds-grid slds-gutters slds-clearfix slds-wrap class1">
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Product_Family__c' onchange={productfmchg}>
                        </lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Product_Name__c' required></lightning-input-field>
                    </div>
                </div>
                <div class="slds-grid slds-gutters slds-clearfix slds-wrap class1">

                    <div class="slds-col slds-size_1-of-2" if:true={hardware}>
                        <lightning-input-field field-name='Product_Type__c' onchange={prodchangehandler}>
                        </lightning-input-field>
                    </div>

                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Product_Code__c'></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Price__c' required></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Purchase_Date__c' required></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Division__c'></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Country__c'></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Location__c'></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Owner__c'></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Supplier_Vendor__c'></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Supplier_Vendor_Comments__c'></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Active__c'></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Information__c'></lightning-input-field>
                    </div>
                </div>

                <!-- <lightning-accordion-section name="soft" label="Software Details" if:true={software}> -->
                <div class="demo-only class1" if:true={software} style="padding:0.5rem;background:#e4e2e2;">
                    <div class="slds-text-color_inverse">
                        <h1 style="color: black;">Software Information</h1>
                    </div>
                </div>

                </br>
                <div if:true={software} class="slds-grid slds-gutters slds-clearfix slds-wrap class1">

                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Type_of_purchase__c' required onchange={purchtype}>
                        </lightning-input-field>
                    </div>
                    <div if:true={perpetual} class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Frequency__c'></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2" if:false={hardware}>
                        <lightning-input-field field-name='License_Count__c' required></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='UnAssigned_License_Count__c' readonly required>
                        </lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Assigned_License_Count__c' readonly required>
                        </lightning-input-field>
                    </div>
                </div>
                <!-- </lightning-accordion-section> -->

                <!-- <lightning-accordion-section name="Hard" label="Hardware Details" if:true={hardware}> -->
                <div class="demo-only class1" if:true={hardware} style="padding:0.5rem;background:#e4e2e2;">
                    <div class="slds-text-color_inverse">
                        <h1 style="color: black;">Hardware Information</h1>
                    </div>
                </div>

                </br>
                <div if:true={hardware} class="slds-grid slds-gutters slds-clearfix slds-wrap class1">
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Asset_ID__c' required></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Model_No__c' required></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Serial_Number__c' required></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Brand__c' required></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Internal_Asset__c'></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Assignedunassigned__c' disabled ></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Retire__c' onchange={retirehandle} ></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Retired_Date__c' required={retired}></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Retired_Reason__c'  ></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Service__c' onchange={servicehandle} disabled={serdisabled} ></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Sent_for_Service__c' required={service} disabled={serdisabled}></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Care_Pack_charges__c'  ></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Display_Type__c'  ></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Invoice_Number_c'  ></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='HDD__c'  ></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='SSD__c'  ></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Storage_in_GB__c'  ></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Mac_Address__c'  ></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Mobile_IMEI__c'  ></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='OS_or_Version__c'  ></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Pixel__c'  ></lightning-input-field>
                    </div>
                   
                    </div>
                <!-- <lightning-accordion-section name="C" label="Laptop Details" if:true={laptop}> -->
                <div class="demo-only class1" if:true={laptop} style="padding:0.5rem;background:#e4e2e2;">
                    <div class="slds-text-color_inverse">
                        <h1 style="color: black;">Laptop Information</h1>
                    </div>
                </div>

                </br>
                <div if:true={laptop} class="slds-grid slds-gutters slds-clearfix slds-wrap class1">
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Model__c'></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Operating_System__c'></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='RAM__c'></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='HDDSSD__c'></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Screen_Size__c'></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Storage__c'></lightning-input-field>
                    </div>
                </div>
                <!-- </lightning-accordion-section>
                    </lightning-accordion-section>
                </lightning-accordion-section> -->
                <!-- <lightning-accordion-section name="warrant" label="Warranty and Other information"> -->
                <div class="demo-only class1" style="padding:0.5rem;background:#e4e2e2;">
                    <div class="slds-text-color_inverse">
                        <h1 style="color: black;">Warranty and Other information</h1>
                    </div>
                </div>
                </br>
                <div class="slds-grid slds-gutters slds-clearfix slds-wrap class1">
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Warranrty_start_Date__c'></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Renewal_Warranty_expirydate__c' onchange={handlecalen} ></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Warranty_claimed__c' onchange={handleclaimed}></lightning-input-field>
                    </div>
                </div>
                <div class="slds-grid slds-gutters slds-clearfix slds-wrap class1">

                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Warranty_Claimed_Date__c' required={warranclaimed}></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name='Age_of_the_products__c'></lightning-input-field>
                    </div>
                </div>


                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field field-name='SupplierVendor__c'></lightning-input-field>
                </div>
                <!-- </lightning-accordion-section> -->
                <!-- </lightning-accordion> -->
                </br>
                <div class="slds-border_top">
                    </br>
                    <lightning-layout horizontal-align="stretch">
                        <lightning-layout-item flexibility="auto" class="slds-align_absolute-center">
                            </br>
                            <lightning-button variant="brand" type="submit" name="save" label="Save"
                                style="padding-left: 0.75rem;">
                            </lightning-button>
                            <lightning-button label="Cancel" title="Cancel" variant="brand" onclick={closeModal}
                                style="padding-left: 0.75rem;">
                            </lightning-button>
                        </lightning-layout-item>
                    </lightning-layout>
                </div>
            </lightning-record-edit-form>
        </div>
        <br />
        <br />
        <br />
    </lightning-card>

</template>